#contact {
    background-image: linear-gradient(135deg,#E90DDA,#15CFF1);
    margin-bottom: 0rem;
}

#title {
    margin-top: 1.5rem;
}

.text {
    color: white;
}

#email-container {
    margin-top: 1rem;
    
    padding: 1em;
}