p {
    text-align: center;
}

#project-button{
    font-size: 150%;
    background-image: linear-gradient(135deg,#E90DDA,#15CFF1);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    border-width: .125em;
    border-image: linear-gradient(135deg,#E90DDA,#15CFF1);
    border-image-slice: 1;
    margin-bottom: 1.5rem;
}

@media (max-width: 768px) {
    #project-button {
        font-size: 100%;
    }
}