#footer {
    background-color: rgba(0,0,0,.90);
    padding-top: 5rem;
}

#hr-line {
    width: 100%;
    height: .25em;
    background-color: whitesmoke;
}

#githubIcon {
    color: whitesmoke;
    height: 2rem;
    width: 2rem;
}

#githubIcon:hover {color: rgba(255,255,255,.80);}

#linkedinIcon {
    color: whitesmoke;
    height: 2rem;
    width: 2rem;
}

#linkedinIcon:hover {color: rgba(255,255,255,.80);}

@media (min-width: 1024px) {
    #hr-line {
        height: .125em;
    }
    #githubIcon #linkedinIcon {
        height: 1.5em;
        width: 1.5em;
    }
}