#footer {
    background-color: rgba(0,0,0,.90);
    padding-top: 5rem;
}

#hr-line {
    width: 100%;
    height: .1em;
    background-color: whitesmoke;
    opacity: 90%;
}

#githubIcon {color: whitesmoke;}
#githubIcon:hover {color: rgba(255,255,255,.80);}

#linkedinIcon {color: whitesmoke;}
#linkedinIcon:hover {color: rgba(255,255,255,.80);}

#stackOverflowIcon {color:whitesmoke}
#stackOverflowIcon:hover {color: rgba(255,255,255,.80);}

@media (min-width: 1024px) {
    #hr-line {
        height: .125em;
    }
    #githubIcon #linkedinIcon #stackOverflowIcon {
        height: 1.5em;
        width: 1.5em;
    }
}