#brand-home-brand {
    padding-right: 10rem;
}

 @media (min-width: 2560px) {
    #brand-home-brand {
        padding-right: 30rem;
    }
    #brand-home-brand-logo {
        width: 15%;
    }
    #responsive-navbar-nav {
        font-size: 180%;
    }
    .link {
        font-size: 200%;
    }
 }

 @media (min-width: 1024px) {
    .link {
        padding-right: .5rem;
    }
 }

 @media (min-width: 768px) and (max-width: 2559px) {
    #brand-home-brand {
        padding-right: 12rem;
     }
     #brand-home-brand-logo {
        width:25%;
     }
     #responsive-navbar-nav {
        font-size: 130%;
    }
 }