#header {
    margin-top: 0;
    margin-bottom: 2rem;
}

.logo {
    min-height: 10rem;
    width: 100%;
    pointer-events: none;
  }
  
@media (max-width: 768px) {
  #home{
    padding-top: 1vh;
    padding-bottom: .1vh;
  }
}