.App {
    text-align: center;
  }

.viewport {
      align-items: center;
      display: flex;
      margin-bottom: 10.69rem;
      min-height: 100vh;
      padding: 0 1rem;
}

@media (max-width: 768px) {

}

@media (max-width: 425px) {
  .viewport{
    display: block;
    margin-bottom: 1rem;
    min-height: auto;
  }
}