#email-container {
    margin-top: 1rem;
    
    padding: 1em;
}

#email {
    font-size: 150%;
    border-width: .125em;
}

#email:hover {
    background-color: rgba(255,255,255,.04);
    color: white;
    border-style: solid;
    
}

@media (max-width: 768px) {
    #email {
        font-size: 100%;
    }
}